@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight:700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight:400;
    line-height: 21px;
    color:#333333;
    background-color:#F2F2F2;
}

.navigation-link{
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.hero-section{
  background-image:url("../Images/divider.svg"), url("../Images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat:no-repeat;
  background-position: left bottom, left top;
  background-color:#3e6b8c  ;
}

.slogan-title{
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-title{
  font-size: 24px;
  line-height:28px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  text-transform:uppercase;
}

.advantages-description{
  font-weight:400;
  text-align: center;
  color: #FFFFFF;
}

.advantages-title-inner{
  font-size: 24px;
  line-height: 28px;
  text-align:center;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description-inner{
  font-weight:400;
  text-align: center;
  color: #000000;
}

.advantage-light{
  background: #82b3d3;
}
.subscription{
  background-image: url("../Images/Subscription.png");
  background-size: 1200px 414,86px;
  background-repeat: no-repeat;
}

section{
  display: block;
}

input[type="email" i] {
  padding-block: 1px;
  padding-inline: 2px;
}
.button{
  text-align: center;
  font-size: 20px;
  line-height:36px;
  font-weight:700;
  background: #82b3d3;
  color: #F2F2F2;
  text-transform: uppercase;
  font-family:"Pt Sans", sans-serif;
}

.footer-social-item-telegram{
  background-image: url("../Images/telegram.svg");
  background-repeat: no-repeat;
  background-position: 0% ;
}

.footer-social-item-vk{
  background-image: url("../Images/vk.svg");
  background-repeat: no-repeat;
  background-position: 0% ;
}

.footer-social-item-youtube{
  background-image: url("../Images/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0% ;
}
